 .img-responsive{
   
    max-height: 450px; 
  }
 
 .text-block {
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }

 .weather-details{ 
    border : 1px solid black;
    margin:20px;
    padding:20px;
    border-radius:3px;
    font-size: 18px;
}  

 #searchCol{
  margin: 35px;
}

#submitBtn{
  padding: 5px;
}

  #weatherDisplay{
    display: flex;
    margin: 35px;
  }

  .FivedayForecast{
    padding:5px;
    display: flex;
    background-color: rgb(129, 116, 65);
    color:white;
    border-radius:10px;
    margin:5px;
    text-align:center;

  }

  .FivedayForecast div{
  border : 1px solid white;
  margin: 20px;

  }
  
  #sampleSearch { 
    box-sizing: border-box;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
    background-color:white;
    border-radius: 5px;
  }
  
  #sampleSearch button { 
    border: 0.25px solid darkslategrey;
    padding: 20px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    width:15%;
  }

  @media screen and (max-width: 768px) {

    #sampleSearch button{
      width:100%;
    }
   
    #weatherDisplay{
      display: table;
      margin: 12px;
      width:90%;
    }

    .FivedayForecast{
      display: table;
      margin: 20px;
      width:90%;
   }

  }
  @media screen and (max-width: 596px) {
    .text-block {
  
      top: 35%;
      left: 35%;
      transform: translate(-35%, -35%);
     
    }
  }
   
    @media screen and (max-width: 552px) {
      .text-block {
    
        top: 20%;
        left: 20%;
        transform: translate(-20%, -20%);
       
      }

}