/* .material-icons{
    float:right;
    margin-right: -30px;
    /* margin-top:-35px; }
 */

.weather-details{
    border : 1px solid black;
    height:150px;
    margin-top: 40px;
    padding: 20px;
    
}
